<div class="container">
    <form>
		<div class="profile-userpic">
			<section>
			<img src="assets/img/image.png" class="img-responsive" alt="">
		</section>
		<section>
			<mat-card>Aliza</mat-card>
		</section>
        <div class="profile-media">
			<mat-card>Media, Links and Docs</mat-card>
			<input type="image" src="assets/img/image.png" width="50px" height="50px">
			<input type="image" src="assets/img/image.png" width="50px" height="50px">

		</div>
		<div class="profile-action">
			<section>
				<mat-card >Mute Notification</mat-card>
			</section>
			<section>
				<mat-card-content  routerLink = "">Custom Notification</mat-card-content>
				
			</section>
		</div>
		</div>
    
	</form>

</div>
					